body {
  font-family: sans-serif;
}

.container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: 500ms linear;
  padding: 1em;
}

.card {
  background: #595;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0;
  transition: 200ms ease-in-out;
  border-radius: 5px;
}

.card.selected {
  box-shadow: 2px 2px 5px #000;
}
